nav {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 220px 0 255px;
  position: fixed;
  background: #010203;
  z-index: 1;
}
nav .logo {
  color: #fff;
  /* font-size: 2rem; */
  font-weight: 600;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 8px;
}
nav ul li .navv {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16.5px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav .menu-btn i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 35px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 70px;
    left: -100%;
    background: #000000;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.7s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 35px 0;
  }
  nav ul li .navv {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
  }
  #click:checked ~ ul li .navv {
    margin-left: 0px;
  }

  nav ul li .navv:hover {
    background: none;
    color: #2d46b9;
  }
  nav .logo {
    font-size: 1.8rem;
  }
  nav ul li .navv {
    font-size: 1.2rem;
  }
}
