.skillscontainer1 {
  width: 1200px;
  margin: 10px auto;
  height: 260vh;
}
.skillscontainer {
  background: #02060b;
  padding: 100px 0;
  color: #fff;
  display: flex;
}

.Skill-Container {
  width: 650px;
  margin: 20px auto 0;
  margin-top: -4rem;
  padding: 15px;
}

.Skill-Container li {
  position: relative;
  list-style: none;
  margin: 60px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.Skill-Container li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #8691c2;
  border-radius: 1000px;
}

.Skill-Container li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: #2d46b9;
  border-radius: 1000px;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.Skill-Container li.React:after {
  animation-name: React;
}

@keyframes React {
  to {
    width: 80%;
  }
}

.Skill-Container li.Redux:after {
  animation-name: Redux;
}

@keyframes Redux {
  to {
    width: 70%;
  }
}
.Skill-Container li.Formik:after {
  animation-name: Formik;
}

@keyframes Formik {
  to {
    width: 80%;
  }
}

.Skill-Container li.Formik:after {
  animation-name: Formik;
}

@keyframes Formik {
  to {
    width: 80%;
  }
}

.Skill-Container li.Nodejs:after {
  animation-name: Nodejs;
}

@keyframes Nodejs {
  to {
    width: 50%;
  }
}

.Skill-Container li.API:after {
  animation-name: API;
}

@keyframes API {
  to {
    width: 70%;
  }
}
.Skill-Container li.MongoDB:after {
  animation-name: MongoDB;
}

@keyframes MongoDB {
  to {
    width: 60%;
  }
}
.Skill-Container li.Tailwind:after {
  animation-name: Tailwind;
}

@keyframes Tailwind {
  to {
    width: 80%;
  }
}
.Skill-Container li.HTML:after {
  animation-name: HTML;
}

@keyframes HTML {
  to {
    width: 90%;
  }
}
.Skill-Container li.CSS:after {
  animation-name: CSS;
}

@keyframes CSS {
  to {
    width: 80%;
  }
}

.Skill-Container li.SEO:after {
  animation-name: SEO;
}

@keyframes SEO {
  to {
    width: 90%;
  }
}
.Skill-Container li.SEM:after {
  animation-name: SEM;
}

@keyframes SEM {
  to {
    width: 70%;
  }
}
.Skill-Container li.SMO:after {
  animation-name: SMO;
}

@keyframes SMO {
  to {
    width: 95%;
  }
}
.Skill-Container li.SMM:after {
  animation-name: SMM;
}

@keyframes SMM {
  to {
    width: 70%;
  }
}

.Skill-Container li.Google:after {
  animation-name: Google;
}

@keyframes Google {
  to {
    width: 95%;
  }
}
.Skill-Container li.Word:after {
  animation-name: Word;
}

@keyframes Word {
  to {
    width: 95%;
  }
}

.Skill-Container li.Excel:after {
  animation-name: Excel;
}

@keyframes Excel {
  to {
    width: 80%;
  }
}

.Skill-Container li.Powerpoint:after {
  animation-name: Powerpoint;
}

@keyframes Powerpoint {
  to {
    width: 85%;
  }
}

.Skill-Container li.Typing:after {
  animation-name: Typing;
}

@keyframes Typing {
  to {
    width: 100%;
  }
}

.Skill-Container li.Canva:after {
  animation-name: Canva;
}

@keyframes Canva {
  to {
    width: 70%;
  }
}

.Skill-Container li.Photoshop:after {
  animation-name: Photoshop;
}

@keyframes Photoshop {
  to {
    width: 50%;
  }
}

@media (max-width: 765px) {
  .Skill-Container {
    width: 370px;
  }
}
